@import url(https://fonts.googleapis.com/css?family=Inter:regular,700);
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: inherit;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #f7f7f7;
  scroll-behavior: smooth;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 760px) and (max-width: 1139px) {
  [class*=__container] {
    max-width: 760px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  [class*=__container] {
    min-width: 260px;
    padding-inline: 30px;
  }
}

.header__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 320px) and (max-width: 759px) {
  .header__content {
    padding-top: 25px;
  }
}
.header__logo {
  transition: transform 0.3s;
}
.header__logo:hover {
  transform: scale(1.05);
}
.header__logo--img {
  width: 161px;
  height: 26px;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__text {
  line-height: 20px;
  color: #4f4f4f;
  margin-right: 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}
.header__text:hover {
  color: #0db2b3;
}
@media (min-width: 320px) and (max-width: 759px) {
  .header__text {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .header__translate {
    display: none;
  }
}
.header__button {
  background: #333;
  width: 102px;
  height: 48px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  transition: background-color 0.3s;
  cursor: pointer;
}
.header__button:hover {
  background-color: #131313;
}
@media (min-width: 320px) and (max-width: 759px) {
  .header__button {
    display: none;
  }
}
.header__menu {
  margin-left: 30px;
  display: none;
  cursor: pointer;
  transition: transform 0.3s;
}
.header__menu:hover {
  transform: scale(1.05);
}
@media (min-width: 760px) and (max-width: 1139px) {
  .header__menu {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .header__menu {
    display: block;
  }
}
.header__menu--img {
  height: 32px;
  width: 32px;
}

.translate {
  margin-right: 47px;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .translate {
    margin-right: 30px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .translate {
    margin: 0;
  }
}
.translate--lang {
  cursor: pointer;
  color: #828282;
  line-height: 18px;
  text-transform: uppercase;
}
.translate--radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.translate--radio:checked + .translate--lang {
  color: #131313;
}

.main {
  flex: 1 1 auto;
}
.main__section {
  padding-bottom: 170px;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .main__section {
    padding-bottom: 140px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .main__section {
    padding-bottom: 110px;
    position: relative;
  }
}

.slick-initialized .slick-slide {
  display: flex;
  flex-direction: column;
}

.footer-facebooks:hover {
  fill: #0db2b3;
}

.burgermenu {
  display: none;
  background-color: #fff;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(100%);
  pointer-events: none;
  transition: all 0.3s;
}
.burgermenu:target {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}
.burgermenu:has(.burgermenu:target) {
  overflow: hidden; /* not to scroll the page */
}
@media (min-width: 760px) and (max-width: 1139px) {
  .burgermenu {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .burgermenu {
    display: block;
  }
}
.burgermenu__content {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 30px;
  height: 100vh;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .burgermenu__content {
    padding-top: 30px;
  }
}
.burgermenu__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
  height: 32px;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .burgermenu__logo {
    height: 3rem;
    margin-bottom: 64px;
  }
}
.burgermenu__logo--img {
  width: 161px;
  height: 26px;
  transition: transform 0.3s;
}
.burgermenu__logo--img:hover {
  transform: scale(1.05);
}
.burgermenu__close {
  margin-right: 3px;
  transition: transform 0.3s;
}
.burgermenu__close:hover {
  transform: scale(1.05);
}
.burgermenu__menu--item {
  text-transform: uppercase;
  line-height: 20px;
  margin-bottom: 25px;
  transition: all 0.3s;
}
.burgermenu__menu--item:hover {
  color: #0db2b3;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .burgermenu__menu--item {
    margin-bottom: 40px;
  }
}
.burgermenu__body {
  display: flex;
  margin-top: 25px;
  margin-bottom: 114px;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .burgermenu__body {
    display: none;
  }
}
.burgermenu__body--text {
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}
.burgermenu__body--text:hover {
  color: #0db2b3;
}
.burgermenu__body--translate {
  margin-left: 20px;
}
.burgermenu__button {
  background: #333;
  height: 48px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
}
.burgermenu__button:hover {
  background-color: #131313;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .burgermenu__button {
    display: none;
  }
}

.benefits__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .benefits__content {
    justify-content: left;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .benefits__content {
    justify-content: center;
    padding-top: 285px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .benefits__img-mobile {
    background-image: url(../images/mobile/photo1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 245px;
    position: absolute;
    left: 0;
    top: 0;
  }
}
.benefits__text {
  width: 378px;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .benefits__text {
    width: 340px;
  }
}
.benefits__title {
  font-size: 62px;
  font-weight: 700;
  line-height: 78px;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .benefits__title {
    font-size: 48px;
    line-height: 62px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .benefits__title {
    font-size: 40px;
    line-height: 52px;
  }
}
.benefits__paragraph {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 276px;
}
@media (min-width: 320px) and (max-width: 759px) {
  .benefits__paragraph {
    width: 100%;
  }
}
.benefits__img--size {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  width: 816px;
  height: 464px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .benefits__img--size {
    width: 430px;
    height: 317px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .benefits__img--size {
    display: none;
  }
}

.aboutus__wrapper {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .aboutus__wrapper {
    justify-content: space-between;
    flex-wrap: wrap;
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 65px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .aboutus__wrapper {
    flex-direction: column;
    display: none;
  }
}
.aboutus__wrapper-mobile {
  display: none;
}
@media (min-width: 320px) and (max-width: 759px) {
  .aboutus__wrapper-mobile {
    display: block;
  }
}
.aboutus__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 276px;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .aboutus__content {
    width: 340px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .aboutus__content {
    width: 100%;
    margin-bottom: 30px;
  }
}
.aboutus__img {
  width: 70px;
  height: 50px;
  margin-bottom: 30px;
}
.aboutus__title {
  height: 56px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.aboutus__text {
  color: #7c7c7c;
  text-align: center;
  line-height: 21px;
}

.menu {
  padding-top: 28px;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .menu {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: flex;
  justify-content: center;
  -moz-column-gap: 84px;
       column-gap: 84px;
  padding-bottom: 90px;
}
.menu__link {
  text-align: center;
  line-height: 20px;
  transition: all 0.3s;
}
.menu__link:hover {
  color: #0db2b3;
}

.presentation__img {
  display: flex;
}
.presentation__img--bg {
  margin: 0 auto;
  width: 846px;
  height: 520px;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .presentation__img--bg {
    width: 700px;
    height: 430px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .presentation__img--bg {
    max-width: 100%;
    height: -moz-max-content;
    height: max-content;
  }
}

.technology__content {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.technology__content:not(:last-child) {
  margin-bottom: 170px;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .technology__content:not(:last-child) {
    margin-bottom: 140px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .technology__content:not(:last-child) {
    margin-bottom: 110px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .technology__content {
    display: flex;
    flex-direction: column;
  }
}
.technology__img {
  transition: transform 0.3s;
}
.technology__img:hover {
  transform: scale(1.05);
}
.technology__img--photo {
  width: 582px;
  height: 388px;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .technology__img--photo {
    width: 374px;
    height: 415px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .technology__img--photo {
    display: none;
  }
}
.technology__title {
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .technology__title {
    font-size: 36px;
    line-height: 46px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .technology__title {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .technology__mobile-img-one {
    background-image: url(../images/mobile/photo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 100%;
    margin-bottom: 20px;
    transition: transform 0.3s;
  }
  .technology__mobile-img-one:hover {
    transform: scale(1.05);
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .technology__mobile-img-two {
    background-image: url(../images/mobile/photo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 210px;
    width: 100%;
    margin-bottom: 20px;
    transition: transform 0.3s;
  }
  .technology__mobile-img-two:hover {
    transform: scale(1.05);
  }
}
.technology__paragraph {
  color: #7c7c7c;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 60px;
}
@media (min-width: 320px) and (max-width: 759px) {
  .technology__paragraph {
    margin-bottom: 30px;
  }
}
.technology__link {
  width: -moz-max-content;
  width: max-content;
  color: #0db2b3;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
}
.technology__link::after {
  content: "";
  margin-top: 5px;
  display: block;
  width: 65px;
  border-bottom: 1px solid #0db2b3;
  transition: width 0.3s;
}
.technology__link:hover::after {
  width: 130px;
}

.testimonilas__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonilas__bg {
  background-image: url(../images/fone.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 233px;
  height: 192px;
  position: absolute;
  top: 0;
}
.testimonilas__text {
  padding-top: 42px;
  width: 786px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 30px;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .testimonilas__text {
    width: 700px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .testimonilas__text {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
  }
}
.testimonilas__photo {
  width: 62px;
  height: 62px;
  margin-bottom: 20px;
  z-index: 10;
  transition: transform 0.3s;
}
.testimonilas__photo:hover {
  transform: scale(1.05);
}
.testimonilas__name {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 5px;
}
.testimonilas__profession {
  color: #7c7c7c;
  line-height: 21px;
}

.features__title {
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .features__title {
    font-size: 30px;
    line-height: 40px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .features__title {
    font-size: 30px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .features__bg-mobile {
    background-color: #d6ecec;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .features__image-mobile {
    background-image: url(../images/mobile/photo5.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    width: 100%;
    height: 174px;
  }
}
.features__content {
  background-color: #d6ecec;
  padding: 60px 120px;
  position: relative;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .features__content {
    height: 525px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .features__content {
    padding: 0;
    padding-top: 30px;
  }
}
.features__wrapper {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .features__wrapper {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .features__wrapper {
    display: none;
  }
}
.features__wrapper--mobile {
  display: none;
  margin-bottom: 50px;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .features__wrapper--mobile {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .features__wrapper--mobile {
    display: block;
  }
}
.features__body {
  position: relative;
  z-index: 2;
}
.features__body:first-child {
  margin-right: 132px;
  margin-bottom: 56px;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .features__body:first-child {
    margin: 0;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .features__body:first-child {
    margin: 0 auto;
  }
}
.features__body-title {
  color: #0c797a;
  font-size: 34px;
  font-weight: 700;
  line-height: 42px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (min-width: 320px) and (max-width: 759px) {
  .features__body-title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }
}
.features__body-item {
  list-style: inside;
  font-size: 16px;
  line-height: 24px;
}
.features__body-item:not(:last-child) {
  margin-bottom: 10px;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .features__body-item {
    width: 270px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .features__body-item {
    width: 260px;
    font-size: 14px;
    line-height: 21px;
  }
}
.features__btn {
  display: none;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .features__btn {
    display: flex;
    justify-content: start;
    margin-bottom: 15px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .features__btn {
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
    margin-left: 70px;
  }
}
.features__btn--prev {
  height: 14px;
  background-color: #d6ecec;
  cursor: pointer;
}
.features__btn--prev-color {
  transition: fill 0.3s;
}
.features__btn--prev-color:hover {
  fill: #0db2b3;
}
.features__btn--next {
  background-color: #d6ecec;
  height: 14px;
  cursor: pointer;
}
.features__btn--next-color {
  transition: fill 0.3s;
}
.features__btn--next-color:hover {
  fill: #0db2b3;
}
.features__page {
  display: none;
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .features__page {
    display: flex;
    justify-content: center;
    width: 100px;
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .features__page {
    display: flex;
    justify-content: start;
    margin-left: 100px;
  }
}
.features__page-three {
  transform: translateY(10px);
  color: #0c797a;
  font-size: 11px;
  line-height: normal;
  margin-left: 3px;
}
.features__img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.features__img--bg {
  width: 582px;
  height: 302px;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .features__img--bg {
    width: 435px;
    height: 226px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .features__img--bg {
    display: none;
  }
}

.questions__content {
  display: flex;
}
@media (min-width: 320px) and (max-width: 759px) {
  .questions__content {
    flex-direction: column;
  }
}
.questions__title {
  width: 50%;
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .questions__title {
    font-size: 36px;
    line-height: 46px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .questions__title {
    font-size: 30px;
    line-height: 40px;
    width: 100%;
    margin-bottom: 27px;
  }
}
.questions__forms {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
@media (min-width: 320px) and (max-width: 759px) {
  .questions__forms {
    width: 100%;
    margin-left: 0;
  }
}
.questions__forms--email {
  padding: 12px 36px;
  height: 48px;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .questions__forms--email {
    padding: 12px 30px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .questions__forms--email {
    padding: 12px 20px;
  }
}
.questions__forms--message {
  padding: 16px 36px;
  height: 128px;
  resize: none;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .questions__forms--message {
    padding: 12px 30px;
    height: 201px;
  }
}
@media (min-width: 320px) and (max-width: 759px) {
  .questions__forms--message {
    padding: 12px 20px;
  }
}
.questions__forms--message::-webkit-scrollbar {
  width: 10px;
}
.questions__forms--message::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.questions__forms--message::-webkit-scrollbar-thumb {
  background: #0db2b3;
  border-radius: 10px;
}
.questions__forms--message::-webkit-scrollbar-thumb:hover {
  background-color: #eb5757;
}
.questions__forms--btn {
  width: 124px;
  height: 48px;
  background-color: #0db2b3;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}
.questions__forms--btn:hover {
  background-color: #0c797a;
}
@media (min-width: 760px) and (max-width: 1139px) {
  .questions__forms--btn {
    width: 102px;
  }
}

.form-field {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 19px;
  border: 1px solid #828282;
  transition: all 0.3s;
}
.form-field::-moz-placeholder {
  color: #bdbdbd;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.form-field::placeholder {
  color: #bdbdbd;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.form-field:hover {
  border: 2px solid #0c797a;
}
.form-field:focus-visible {
  border: none;
  outline: 2px solid #eb5757;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 2px solid #eb5757;
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

.footer__content {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding-bottom: 30px;
}
.footer__arrow {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  z-index: 50;
  fill: #333;
  transition: fill 0.3s;
}
.footer__arrow:hover {
  fill: #0db2b3;
}
@media (min-width: 320px) and (max-width: 759px) {
  .footer__arrow {
    display: none;
  }
}
.footer__logo {
  margin-bottom: 60px;
}
@media (min-width: 320px) and (max-width: 759px) {
  .footer__logo {
    display: none;
  }
}
.footer__icon {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-bottom: 60px;
}
.footer__icon--img {
  fill: #4f4f4f;
  transition: fill 0.3s;
  transition: transform 0.3s;
}
.footer__icon--img:hover {
  fill: #0db2b3;
}
.footer__icon--img:hover {
  transform: scale(1.05);
}
.footer__text {
  color: #bdbdbd;
  line-height: 21px;
  text-align: center;
}/*# sourceMappingURL=main.css.map */